<!DOCTYPE html>
<html ng-app='app'>
<head>
	<title>Test de envio</title>
</head>
<body ng-controller='controlador'>
	<h3>Nombre: <input type='Text' ng-model='arreglo.nombre'></h3>
	<h3>Telefono: <input type='Text' ng-model='arreglo.telefono'></h3>
	<h3>Correo: <input type='Text' ng-model='arreglo.correo'></h3>
	<button type="" ng-click='enviar()'>Aceptar</button>
</body>
<script src="assets/js/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="assets/js/app.js" type="text/javascript" charset="utf-8"></script>
</html>